@import '../utils/breakpoints';

@import '../mixins/typography';

.Banner {
  display: table;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.BannerImage {
  height: 60vh;
  min-height: 440px;
  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

.BannerContent {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: auto;
  h1 {
    @include BaronNeueHeading;
    margin: 0;
    color: #FFFFFF;
  }
  .BannerContentWrapper {
    width: 100%;
    height: 100%;
    .BannerContainer {
      padding: 0;
      height: 100%;
      max-width: $breakpointDesktop;
      margin: 0 auto;
      float: none;
      @media only screen and (max-width: $breakpointMax) {
        margin: 0 1rem;
      }
    }
  }
}

.BannerGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5rem;
  height: 100%;
  .BannerHeader {
    grid-area: span 1;
  }
  .BannerMain {
    grid-area: span 1;
    padding-top: 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-weight: 400;
      text-transform: none;
      max-width: 76ch;
      font-size: 1.25rem;
      line-height: 1.41em;
      letter-spacing: -.01125rem;
      margin: 1.5rem 0;
      display: block;
      margin-block-start: 0.25em;
      margin-block-end: 0em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      text-align: center;
  
      @media screen and (max-width: $breakpointMedium) {
        font-size: 1rem;
      }
    }
  }
  .BannerFooter {
    grid-area: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      height: 48px;
    }
    svg {
      width: 3rem;
      height: 3rem;
    }
  }
}

.IndexBanner {
  .BannerImage {
    height: 75vh;
    min-height: 540px;
  }
}