@import '../utils/breakpoints';
@import '../mixins/typography';

.Banner {
  display: table;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  h1 {
    @include BaronNeueHeading;
    margin: 0;
    color: #FFFFFF;
  }
}

.BannerImage {
  height: 75vh;
  min-height: 540px;
  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

.BannerContent {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: auto;
  .BannerContentWrapper {
    width: 100%;
    height: 100%;
    .BannerContainer {
      padding: 0;
      height: 100%;
      max-width: $breakpointDesktop;
      margin: 0 auto;
      float: none;
      @media only screen and (max-width: $breakpointMax) {
        margin: 0 1rem;
      }
    }
  }
}

.BannerGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
  .BannerHeader {
    grid-area: span 1;
  }
  .BannerMain {
    grid-area: span 1;
    padding-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .BannerFooter {
    grid-area: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 3rem;
      height: 3rem;
    }
  }
}