@import '../breakpoints';

@mixin ButtonLarge {
  appearance: auto;
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  outline: none;
  margin: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border-color,background,color,transform,box-shadow;
  transition-duration: .15s;
  transition-timing-function: ease;
  border-radius: 5px;
  font-weight: 500;
  padding: 0 12px;
  height: 48px;
  font-size: 1rem;
  line-height: 1.5rem;
  min-width: 100%;
  max-width: 100%;
  .Prefix {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    user-select: none;
    color: currentColor;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    box-sizing: inherit;
    margin-right: 8px;
    display: flex;
  }

  .Content {
    $offset: 187;
    $duration: 1.4s;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    user-select: none;
    color: currentColor;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    box-sizing: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;

    .ButtonSpinnerContainer {
      width: 16px;
      height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      .ButtonSpinner {
        display: inline;
        width: 16px;
        height: 16px;
        clear: both;
        margin: 10px auto;
        border: 2px rgba(#f1f1f1, 0.25) solid;
        border-top: 2px rgba(#f1f1f1, 1) solid;
        border-radius: 50%;
        -webkit-animation: spCircRot .6s infinite linear;
        animation: spCircRot .6s infinite linear;
        @-webkit-keyframes spCircRot {
          from { -webkit-transform: rotate(0deg); }
          to { -webkit-transform: rotate(359deg); }
        }
        @keyframes spCircRot {
          from { transform: rotate(0deg); }
          to { transform: rotate(359deg); }
        }
      }
    }

    .ButtonCheck {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.BookingForm {
  margin: 1rem 0;
  padding: 2rem 0;
}

.BookingFormBox {
  background: #FFFFFF;
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
}

.BookingFormHeader {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h2 {
    margin-block-start: 0.35em;
    margin-block-end: 0.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

.BookingFormContent {
  position: relative;
  width: 100%;
  align-self: center;
  display: grid;
  overflow: none;

  button[type=submit] {
    @include ButtonLarge;
    color: #FFFFFF;
    background: #041e42;
    border: 1px solid #041e42;
    margin-top: -6px;
  }
  button[type=submit]:hover {
    color: #eec035;
    background: #041e42;
    border: 1px solid #041e42;
  }

  @media screen and (min-width: $breakpointMedium) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
  }
  @media screen and (max-width: $breakpointMedium) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 12px;
  }
}