.CookiePolicy {
  padding: 8rem 0 2rem 0;
  p {
    text-rendering: optimizeSpeed;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    list-style-type: none;
    text-align: -webkit-match-parent;
    font-size: 1em;
    line-height: 1.625em;
    color: inherit;
    text-decoration-skip-ink: auto;
    box-sizing: border-box;
  }
  a {
    color: #0070F3;
    text-decoration: underline;
  }
  a:focus,
  a:hover {
    color: #0070F3;
    text-decoration: none;
  }
}