@import '../breakpoints';

@mixin ButtonDisabled {
  appearance: auto;
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  outline: none;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  user-select: none;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  font-weight: 500;
  padding: 0 12px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border-color,background,color,transform,box-shadow;
  transition-duration: .15s;
  transition-timing-function: ease;
  font-size: 0.875rem;
  line-height: 1.25rem;
  min-width: 100%;
  max-width: 100%;
  height: 48px;
  cursor: not-allowed;

  .Prefix {
    color: currentColor;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    box-sizing: inherit;
    margin-right: 8px;
    display: flex;
  }

  .Content {
    color: currentColor;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    box-sizing: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
  }
}

@mixin ButtonLarge {
  appearance: auto;
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  outline: none;
  margin: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border-color,background,color,transform,box-shadow;
  transition-duration: .15s;
  transition-timing-function: ease;
  border-radius: 5px;
  font-weight: 500;
  padding: 0 12px;
  height: 48px;
  font-size: 1rem;
  line-height: 1.5rem;
  min-width: 100%;
  max-width: 100%;
  :disabled { 
    cursor: not-allowed;
  }
  .Prefix {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    user-select: none;
    color: currentColor;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    box-sizing: inherit;
    margin-right: 8px;
    display: flex;

    :disabled { 
      cursor: not-allowed;
    }
  }

  .Content {
    $offset: 187;
    $duration: 1.4s;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    user-select: none;
    color: currentColor;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    box-sizing: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;

    :disabled { 
      cursor: not-allowed;
    }

    .ButtonSpinnerContainer {
      width: 16px;
      height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      .ButtonSpinner {
        display: inline;
        width: 16px;
        height: 16px;
        clear: both;
        margin: 10px auto;
        border: 2px rgba(#f1f1f1, 0.25) solid;
        border-top: 2px rgba(#f1f1f1, 1) solid;
        border-radius: 50%;
        -webkit-animation: spCircRot .6s infinite linear;
        animation: spCircRot .6s infinite linear;
        @-webkit-keyframes spCircRot {
          from { -webkit-transform: rotate(0deg); }
          to { -webkit-transform: rotate(359deg); }
        }
        @keyframes spCircRot {
          from { transform: rotate(0deg); }
          to { transform: rotate(359deg); }
        }
      }
    }

    .ButtonCheck {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      :disabled { 
        cursor: not-allowed;
      }
    }
  }
}

@mixin ButtonMedium {
  appearance: none;
  position: relative;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 0;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 500;
  border-radius: 5px;
  flex-shrink: 0;
  margin: 0px;
  transition: all 0.2s ease 0s;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  min-width: 80px;
  height: 32px;
  line-height: 0;
  font-size: 0.875rem;
  padding: 6px 12px;
  .Content {
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb !important;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-rendering: auto;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 500;
    text-align: center;
    line-height: 0;
    font-size: 0.875rem;
    position: relative;
    z-index: 1;
    margin-left: 0px;
  }
}

@mixin Heading2 {
  margin: 0;
  text-transform: none;
  max-width: 38ch;
  font-size: 2rem;
  line-height: 1.2em;
  font-weight: 700;
  letter-spacing: -.049375rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  @media screen and (max-width: $breakpointMedium) {
    font-size: 1.75rem;
  }
}

@mixin Paragraph {
  font-size: 1rem;
  font-weight: 400;
  color: #666666;
  line-height: 1.6;
  letter-spacing: -.02em;
  margin: 1em 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

@mixin Heading5 {
  font-weight: 400;
  text-transform: none;
  font-size: 1.25rem;
  line-height: 1.41em;
  letter-spacing: -.01125rem;
  margin: 1.5rem 0;
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  @media screen and (max-width: $breakpointMedium) {
    font-size: 1rem;
  }
}

.Dashboard {
  padding: 10rem 0 3.5rem 0;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1.5rem;

  h1 {
    @include Heading2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin-block-start: 0.75em;
    margin-block-end: 0.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  p {
    @include Paragraph;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

.DashboardHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.DashboardMain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Section {
  margin: 1.5rem;
  width: 100%;
  max-width: $breakpointMedium;
  display: block;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  position: relative;
}

.SectionHeader,
.SectionFooter {
  padding: 0.75rem 1.5rem;
}

.SectionHeader {
  border-bottom: 1px solid #eaeaea;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .SectionHeaderLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h2 {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
      color: #666666;
      margin: 0;
      font-size: .75rem;
      line-height: 1.6;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      font-weight: 700;
      display: block;
      margin-block-start: 0em;
      margin-block-end: 0em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
  }
  .SectionHeaderRight {
    min-height: 33px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .Badge {
      border-radius: 5px;
      background: #ceedff;
      padding: 0.5rem;
      color: #153e75;
      padding: 6px 12px;

      span {
        margin: 0;
        padding: 1px 0;
        font-size: .75rem;
        line-height: 1.6;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        font-weight: 700;
        display: block;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
    }
  }
}

.SectionMain {
  padding: 1.5rem;
}

.SectionFooter {
  background: #fafafa;
  border-top: 1px solid #eaeaea;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .SectionFooterLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span.Text {
      color: #666666;
      margin: 0;
      font-size: .875rem;
      line-height: 1.6;
      display: block;
      margin-block-start: 0em;
      margin-block-end: 0em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
  }
  .SectionFooterRight {
    min-height: 33px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &:nth-child(n) {
      margin-left: 1.5rem;
    }
  }
}

button.Inverted {
  @include ButtonMedium;
  margin: 0 0 0 0.75rem;
  color: #000000;
  background: #fafafa;
  border: 1px solid #fafafa;
}
button.Inverted:hover,
button.Inverted:focus {
  color: #000000;
  background: #fafafa;
  border: 1px solid #000000;
}

button.Caution {
  @include ButtonMedium;
  color: #e00e00;
  background: #fafafa;
  border: 1px solid #e00e00;
}
button.Caution:hover,
button.Caution:focus {
  color: #fafafa;
  background: #e00e00;
  border: 1px solid #e00e00;
}

button.Normal {
  @include ButtonMedium;
  margin: 0 0 0 0.75rem;
  color: #ffffff;
  background: #000000;
  border: 1px solid #000000;
}
button.Normal:hover,
button.Normal:focus {
  color: #000000;
  background: #fafafa;
  border: 1px solid #000000;
}

.MemberCodeForm {
  button[type=submit].ButtonDisabled {
    @include ButtonDisabled;
    background: #111;
    color: #444;
    border-color: #333;
  }

  button[type=submit].ButtonActive {
    @include ButtonLarge;
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #000000;
  }

  button[type=submit].ButtonActive:hover {
    color: #000000;
    background: #ffffff;
    border: 1px solid #000000;
  }
}