@import '../utils/breakpoints';

@mixin ButtonMedium {
  appearance: none;
  position: relative;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 0;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 500;
  border-radius: 5px;
  flex-shrink: 0;
  margin: 0px;
  transition: all 0.2s ease 0s;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  min-width: 80px;
  height: 32px;
  line-height: 0;
  font-size: 0.875rem;
  padding: 6px 12px;
  .Content {
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb !important;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-rendering: auto;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 500;
    text-align: center;
    line-height: 0;
    font-size: 0.875rem;
    position: relative;
    z-index: 1;
    margin-left: 0px;
  }
}

@mixin Heading2 {
  margin: 0;
  text-transform: none;
  max-width: 38ch;
  font-size: 2rem;
  line-height: 1.2em;
  font-weight: 700;
  letter-spacing: -.049375rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  @media screen and (max-width: $breakpointMedium) {
    font-size: 1.75rem;
  }
}

@mixin Paragraph {
  font-size: 1rem;
  font-weight: 400;
  color: #666666;
  line-height: 1.6;
  letter-spacing: -.02em;
  margin: 1em 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;


  // font-weight: 400;
  // text-transform: none;
  // max-width: 76ch;
  // font-size: 1.25rem;
  // line-height: 1.41em;
  // letter-spacing: -.01125rem;
  // margin: 1.5rem 0;
  // display: block;
  // margin-block-start: 1em;
  // margin-block-end: 0em;
  // margin-inline-start: 0px;
  // margin-inline-end: 0px;
  // text-align: center;

  // @media screen and (max-width: $breakpointMedium) {
  //   font-size: 1rem;
  // }
}

@mixin Heading5 {
  font-weight: 400;
  text-transform: none;
  font-size: 1.25rem;
  line-height: 1.41em;
  letter-spacing: -.01125rem;
  margin: 1.5rem 0;
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  @media screen and (max-width: $breakpointMedium) {
    font-size: 1rem;
  }
}

.Dashboard {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 1.5rem;

  h1 {
    @include Heading2;
    margin-block-start: 0.75em;
    margin-block-end: 0.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  p {
    @include Paragraph;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  //Only Chrome 29+
  @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    height: 100vh;
    min-height: 100vh;
  }

  // Safari
  @media screen and (min-width: $breakpointMedium) {
    height: 100vh;
    max-height: -webkit-fill-available;
  }
  @media screen and (max-width: $breakpointMedium) {
    height: 100vh;
    max-height: -webkit-fill-available;
  }
}

.DashboardHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.DashboardMain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Overview {
  margin: 1.5rem;
  width: 100%;
  max-width: $breakpointMedium;
  display: block;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  position: relative;
}

.OverviewHeader,
  .OverviewFooter {
    padding: 0.75rem 1.5rem;
  }
  .OverviewHeader {
    border-bottom: 1px solid #eaeaea;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .OverviewHeaderLeft {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      h2 {
        color: #666666;
        margin: 0;
        font-size: .75rem;
        line-height: 1.6;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        font-weight: 700;
        display: block;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
    }
    .OverviewHeaderRight {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .Badge {
        border-radius: 5px;
        background: #ceedff;
        padding: 0.5rem;
        color: #153e75;
        padding: 6px 12px;

        span {
          margin: 0;
          padding: 1px 0;
          font-size: .75rem;
          line-height: 1.6;
          letter-spacing: -0.02em;
          text-transform: uppercase;
          font-weight: 700;
          display: block;
          margin-block-start: 0em;
          margin-block-end: 0em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
        }
      }
    }
  }
  .OverviewMain {
    padding: 1.5rem;
  }
  .OverviewFooter {
    background: #fafafa;
    border-top: 1px solid #eaeaea;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .OverviewFooterLeft {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      span {
        color: #666666;
        margin: 0;
        font-size: .875rem;
        line-height: 1.6;
        display: block;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
    }
    .OverviewFooterRight {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      &:nth-child(n) {
        margin-left: 1.5rem;
      }
      button.SignOut {
        @include ButtonMedium;
        margin: 0 0 0 0.75rem;
        color: #000000;
        background: #fafafa;
        border: 1px solid #fafafa;
      }
      button.SignOut:hover,
      button.SignOut:focus {
        color: #000000;
        background: #fafafa;
        border: 1px solid #000000;
      }

      button.Settings {
        @include ButtonMedium;
        margin: 0 0 0 0.75rem;
        color: #ffffff;
        background: #000000;
        border: 1px solid #000000;
      }
      button.Settings:hover,
      button.Settings:focus {
        color: #000000;
        background: #fafafa;
        border: 1px solid #000000;
      }
    }
  }