@import '../utils/colors';

.Footer {
  background-color: $accent8;
  color: $accent3;
}

.FooterGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  .FooterLogo {
    grid-area: span 1;
    background-color: $accent8;
    color: $accent0;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      fill: $accent0;
      height: 5rem;
    }
  }
  .FooterMain {
    grid-area: span 1;
    background-color: $accent8;
    color: $accent3;
  }
  .FooterTagline {
    grid-area: span 1;
    background-color: $accent9;
    color: $accent3;
    padding: 0.5rem 0;
  }
}