@import '../breakpoints';

.Footer  {
  padding: 3rem 0;
  background-color: #ffffff;
  color: #888888;
}

.FooterGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
}

.FooterHeader {
  // background-color: #111111;
  display: grid;
  gap: 2rem;

  @media screen and (min-width: $breakpointMedium) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  @media screen and (max-width: $breakpointMedium) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
}

.FooterMain {
  // background-color: #111111;
  display: grid;
  gap: 2rem;

  @media screen and (min-width: $breakpointMedium) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  @media screen and (max-width: $breakpointMedium) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
}

.FooterNavMain,
.FooterNavLegal {
  ul {
    margin: 12px;
    margin-left: 24px;
    padding: 0;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    list-style-type: none;
    li {
      box-sizing: inherit;
      display: list-item;
      text-align: -webkit-match-parent;
      font-size: 1em;
      line-height: 1.625em;
      margin: 6px 0 0 0;
    }
    li::before {
      content: '–';
      display: none;
      color: #888888;
      position: absolute;
      margin-left: -15px;
    }
  }
}

.FooterNavMain {
  // background-color: #333333;
  nav {
    display: flex;
    flex-direction: column;
  }
}

.FooterTagline {
  // background-color: #333333;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 0.5rem;
  .FooterLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h4 {
      margin: 0;
      padding: 0;
      margin-left: 6px;
      font-size: 16px;
    }

    svg {
      width: 28px;
      height: 28px;
    }
  }
  .FooterTag {
    span {
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
    }
  }

  @media screen and (max-width: $breakpointMedium) {
    .FooterLogo {
      justify-content: center;
      flex-direction: column;
      align-items: center;

      svg {
        width: 48px;
        height: 48px;
      }
    }
    .FooterTag {
      text-align: center;
    }
  }
}

.FooterSocial {
  // background-color: #333333;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  .FooterSocialNav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media screen and (max-width: $breakpointMedium) {
    grid-area: span 1 / 1 / 2 / 2;
    justify-content: center;
  }
}


