@import '../breakpoints';

.GameShowcase {
  margin: 1rem 0;
  padding: 2rem 0;
  display: grid;
  flex-direction: column;
  gap: 3rem;
}

.GameShowcaseHeader {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-block-start: 0.5em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

.GameShowcaseMain {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 2rem;

  @media only screen and (min-width: $breakpointDesktop) {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
  }

  @media only screen and (min-width: $breakpointMedium) and (max-width: $breakpointDesktop) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }

  @media only screen and (max-width: $breakpointMedium) {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
  }
}

.GameShowcaseCard {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;

  &:nth-child(n) {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.41em;
    letter-spacing: -0.01125rem;
    max-width: 8ch;
    font-weight: 600;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
  
    @media screen and (max-width: $breakpointMedium) {
      font-size: 1.75rem;
      line-height: 1.41em;
      letter-spacing: -.029375rem;
      max-width: 12ch;
      font-weight: 600;
      margin-block-start: 0em;
      margin-block-end: 0em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      text-align: center;
    }
  }

  svg {
    height: 5rem;
    width: 5rem;
  }
}