@import '../breakpoints';

.Hallway {
  margin: 0;
  padding: 0.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0.25rem;

  @media screen and (max-width: $breakpointMedium) {
    grid-template-columns: 1fr;
  }
}

.HallwayCard {
  grid-area: span 1;
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;

  h2 {
    max-width: 12ch;
  }

  @media screen and (min-width: $breakpointMedium) {
    a {
      h2 {
        opacity: 85%;
        transition: opacity 0.05s ease-in-out;
      }
    }
    a:hover,
    a:active {
      h2 {
        opacity: 100%;
      }
    }
  }

  .HallwayCardImage {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .HallwayCardContent {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.45);
    overflow: auto;
    padding: 2rem;
    .HallwayCardContentWrapper {
      display: block;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}