@import '../breakpoints';

.ImageFeature {
  margin: 1rem 0;
  padding: 2rem 0;
}

.ImageFeatureGrid {
  display: grid;
  gap: 3rem;

  h2, h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    @media screen and (max-width: $breakpointMedium) {
      max-width: 12ch;
    }
  }

  p {
    color: #666666;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
    
  ul {
    padding-inline-start: 1rem;
    li::before {
      display: none;
    }
  }

  @media screen and (min-width: $breakpointMedium) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    .ImageFeatureImage {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (max-width: $breakpointMedium) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    text-align: center;

    .ImageFeatureImage {
      grid-area: 1 / 1 / 1 / 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        max-height: 480px;
      }
    }
  }
}

.ImageFeatureContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media screen and (max-width: $breakpointMedium) {
    text-align: center;
    align-items: center;
  }
}