@import '../utils/breakpoints';
@import '../utils/colors';

.ImageFeature {
  padding: 2rem 0;
}

.ImageFeatureGrid {
  display: grid;
  gap: 3rem;

  h1, h2, h3 {
    font-family: 'baron_neuebold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-transform: lowercase;
  }

  @media screen and (min-width: $breakpointMedium) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  @media screen and (max-width: $breakpointMedium) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);

    .ImageFeatureImage {
      grid-area: 1 / 1 / 1 / 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        height: 480px;
      }
    }
  }
}

.ImageFeatureContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}