@import '../breakpoints';

.Wrapper {
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: border-box;

  //Only Chrome 29+
  @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
    height: 100vh;
    min-height: 100vh;
  }

  // Safari
  @media screen and (min-width: $breakpointMedium) {
    height: 100vh;
    max-height: -webkit-fill-available;
  }
  @media screen and (max-width: $breakpointMedium) {
    height: 100vh;
    max-height: -webkit-fill-available;
  }
}

.InnerWrapper {
  height: 100%;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: $breakpointDesktop;
  margin: 0 auto;
  float: none;

  @media only screen and (max-width: $breakpointMax) {
    margin: 0 1rem;
  }

  // Preserve iPhone X Safe Area
  @supports(padding: max(0px)) {
    padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
  }
}