@import '../utils/breakpoints';

@mixin TextInputLarge {
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-image: initial;
  width: 100%;
  min-width: 0;
  display: inline-flex;
  -webkit-appearance: none;
  border-radius: 5px;
  padding: 0 12px;
  line-height: normal;
  order: 1;
  outline: none;
  transition: border-color .15s ease;
  height: 48px;
  font-size: 1rem;
}

@mixin Spacer {
  display: block;
  width: 1px;
  height: 1px;
  min-width: 1px;
  min-height: 1px;
  margin-left: calc(24px - 1px);
  margin-top: calc(24px - 1px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 11px;
}

.LoginForm {
  h1 {
    margin: 0;
    text-transform: none;
    max-width: 38ch;
    font-size: 3rem;
    line-height: 1.1em;
    font-weight: 700;
    letter-spacing: -.049375rem;
    display: block;
    margin-block-start: 0.42em;
    margin-block-end: 0.42em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  
    @media screen and (max-width: $breakpointMedium) {
      font-size: 2rem;
    }
  }

  //Only Chrome 29+
  @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    height: 100vh;
    min-height: 100vh;
  }

  // Safari
  @media screen and (min-width: $breakpointMedium) {
    height: 100vh;
    max-height: -webkit-fill-available;
  }
  @media screen and (max-width: $breakpointMedium) {
    height: 100vh;
    max-height: -webkit-fill-available;
  }
}

.LoginFormWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LocalAuth {
  width: 100%;
  max-width: 320px;
  align-self: center;
  input {
    color: -internal-light-dark(black, white);
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  }

  input[type=email],
  input[type=password] {
    @include TextInputLarge;
    border: 1px solid #eaeaea;
    background: #ffffff;
    color: #000000;
  }

  input[type=email]:focus,
  input[type=password]:focus {
    border-color: #666666;
  }

  button[type=submit] {
    // @include ButtonLarge;
    color: #ffffff;
    background: #0070f3;
    border: 1px solid #0070f3;
  }
  button[type=submit]:hover {
    background: #FFFFFF;
    border: 1px solid #0070f3;
    color: #0070f3;
  }
}

span.Spacer {
  @include Spacer;
}