@import '../breakpoints';

@mixin PrimaryHeading {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

@mixin SecondaryHeading {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

@mixin BaronNeueHeading {
  font-family: 'baron_neuebold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-transform: lowercase;
}

.Maintenance {
  width: 100vw;
  height: 100vh;
  color: rgba(36, 36, 36, 1);
  background-color: rgba(255, 252, 242, 1);
  border-color: rgba(255, 252, 242, 1);
  overflow: auto;
  text-align: center;
  h1 {
    margin: 0;
    font-size: 3.5rem;
  }
  h2, p {
    color: rgba(241, 241, 241, 1);
  }
  p {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .Subtitle {
    font-size: 1.5rem;
    letter-spacing: -0.029375rem;
    font-weight: 600;
    @media only screen and (max-width: $breakpointMedium) {
      font-size: 1rem;
    }
  }
  @media only screen and (min-width: $breakpointSmall) {
    padding: 2rem;
  }
  @media only screen and (min-width: $breakpointSmall) and (max-width: $breakpointMedium) {
    padding: 1rem;
  }
  @media only screen and (max-width: $breakpointSmall) {
    padding: 0.5rem;
    h1 {
      font-size: 2.5rem;
      max-width: 16ch;
    }
  }
}

.MaintenanceContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  overflow: auto;
  border-style: solid;
  @media only screen and (min-width: $breakpointSmall) {
    border-width: 0.5rem;
    padding: 0 2rem 2rem 2rem;
  }
  @media only screen and (min-width: $breakpointSmall) and (max-width: $breakpointMedium) {
    border-width: 0.5rem;
    padding: 0 1rem 1rem 1rem;
  }
  @media only screen and (max-width: $breakpointSmall) {
    border-width: 0.25rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
  }
}

.MaintenanceHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MaintenanceLogo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: none;

  svg {
    color: inherit;
    height: 12.5rem;
  }
}

.MaintenanceFooter {
  padding: 2rem;
  display: grid;
  .MaintenanceFooterTitle {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .MaintenanceFooterGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    .MaintenanceFooterSocial {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .MaintenanceFooterLogo {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  @media only screen and (min-width: $breakpointMedium) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 2rem;
    .MaintenanceFooterGrid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      .MaintenanceFooterLogo {
        svg {
          height: 10rem;
        }
      }
    }
  }
  @media only screen and (max-width: $breakpointMedium) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 0;
    .MaintenanceFooterGrid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      .MaintenanceFooterLogo {
        svg {
          height: 5rem;
        }
      }
    }
  }
}


//   display: block;
//   width: 100vw;
//   height: 100vh;
//   padding: 2rem;
//   color: rgba(200, 161, 45, 1);
//   background-color: rgba(4, 30, 66, 1);
//   @media only screen and (max-width: $breakpointSmall) {
//     padding: 1rem;
//   }
//   h1 {
//     @include BaronNeueHeading;
//     @media only screen and (max-width: $breakpointSmall) {
//       font-size: 1rem;
//     }
//   }
  // p {
  //   color: rgba(241, 241, 241, 1);
  // }
//   .MaintenanceContainer {
//     padding: 2rem;
//     border: 0.5rem solid rgba(200, 161, 45, 1);
//     width: 100%;
//     height: 100%;
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: 1fr 1fr 3fr;
//     overflow: auto;
//     @media only screen and (max-width: $breakpointSmall) {
//       padding: 1rem;
//     }
//   }
  .Subtitle {
    font-size: 1.5rem;
    letter-spacing: -0.029375rem;
    font-weight: 600;
    @media only screen and (max-width: $breakpointMedium) {
      font-size: 1rem;
    }
  }
// }

// .MaintenanceHeader {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// .MaintenanceMain {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// .MaintenanceFooter {
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-template-rows: 1fr 1fr;
//   h2 {
//     grid-area: span 1;
//     display: inline-flex;
//     justify-content: center;
//     align-items: center;
//     margin: 0;
//     padding: 1rem;
//   }
//   @media only screen and (min-width: $breakpointMedium) {
//     .MaintenanceGrid {
//       grid-area: span 1;
//       width: 100%;
//       background-color: palegreen;
//       display: grid;
//       grid-template-columns: 1fr 1fr;
//       grid-template-rows: 1fr;
//       gap: 1rem;
//     }
//   }
//   @media only screen and (max-width: $breakpointMedium) {
//     .MaintenanceGrid {
//       grid-area: span 1;
//       width: 100%;
//       background-color: palegreen;
//       display: grid;
//       grid-template-columns: 1fr;
//       grid-template-rows: 1fr auto;
//       gap: 1rem;
//     }
//   }
// }



.Social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    margin: 0 0.25em;
    svg {
      opacity: 100%;
      height: 2.5rem;
      transition: opacity 0.1s ease;
    }
    svg:active,
    svg:hover {
      opacity: 50%;
    }
  }
}