@import '../breakpoints';

.MembershipShowcase {
  margin: 1rem 0;
  padding: 3rem 0 2rem 0;
  display: grid;
  flex-direction: column;
  gap: 3rem;
}

.MembershipShowcaseHeader {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    @media screen and (max-width: $breakpointMedium) {
      max-width: 12ch;
    }
  }

  h5 {
    color: #666666;
    max-width: 76ch;
    font-size: 1.25rem;
    margin: 1.5rem 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;

    @media screen and (max-width: $breakpointMedium) {
      font-size: 1rem;
    }
  }
}

.MembershipShowcaseMain {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 2rem;

  @media only screen and (min-width: $breakpointMedium) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  @media only screen and (max-width: $breakpointMedium) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
}

.MembershipShowcaseCard {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  &:nth-child(n) {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h3 {
    font-size: 2rem;
    line-height: 1.41em;
    letter-spacing: -.029375rem;
    max-width: 12ch;
    font-weight: 600;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
  
    @media screen and (max-width: $breakpointMedium) {
      font-size: 1.75rem;
    }
  }
}