@import '../breakpoints';

.MembershipShowcase {
  margin: 1rem 0;
  padding: 3rem 0 2rem 0;
  display: grid;
  flex-direction: column;
  gap: 3rem;
}

.MembershipShowcaseHeader {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    @media screen and (max-width: $breakpointMedium) {
      max-width: 12ch;
    }
  }

  h5 {
    color: #666666;
    max-width: 76ch;
    font-size: 1.25rem;
    margin: 1.5rem 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;

    @media screen and (max-width: $breakpointMedium) {
      font-size: 1rem;
    }
  }
}

.MembershipShowcaseNewMember {
  display: grid;
  gap: 2rem;

  .MembershipShowcaseCardButtons {
    .Button1 {
      border-radius: 5px;
      border: 1px solid #eaeaea;
      padding: 0 1rem;
      h5 {
        font-family: 'baronneue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        text-transform: lowercase;
        letter-spacing: -.049375rem;
        font-weight: 700;
      }
    }

    .Button1:active,
    .Button1:hover {
      -webkit-box-shadow: 0 0 2.5px 1px #fafafa;
      -moz-box-shadow:    0 0 2.5px 1px #fafafa;
      box-shadow:         0 0 2.5px 1px #fafafa;
    }

    .Button2 {
      text-align: center;

      h5 {
        text-decoration: underline;
        text-align: center;
      }
      h5:active,
      h5:hover {
        text-decoration: none;
      }
    }
  }

  @media only screen and (min-width: $breakpointMedium) {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    float: none;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;

    .MembershipShowcaseCardButtons {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .Button1 {
        margin: 2rem 0;
      }
    }
  }

  @media only screen and (max-width: $breakpointMedium) {
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);

    .MembershipShowcaseCardButtons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      gap: 2rem;
    }
  }
}

.MembershipShowcaseMain {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 2rem;

  @media only screen and (min-width: $breakpointMedium) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  @media only screen and (max-width: $breakpointMedium) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
}

.MembershipShowcaseMainItem {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  gap: 2rem;


  .MembershipShowcaseCardButtons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;

    .Button1 {
      border-radius: 5px;
      border: 1px solid #eaeaea;
      padding: 0 1rem;
      text-align: center;

      h5 {
        font-family: 'baronneue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        text-transform: lowercase;
        letter-spacing: -.049375rem;
        font-weight: 700;
        text-align: center;
      }
    }

    .Button1:active,
    .Button1:hover {
      -webkit-box-shadow: 0 0 2.5px 1px #eaeaea;
      -moz-box-shadow:    0 0 2.5px 1px #eaeaea;
      box-shadow:         0 0 2.5px 1px #eaeaea;
    }

    .Button2 {
      text-align: center;

      h5 {
        text-decoration: underline;
        text-align: center;
      }
      h5:active,
      h5:hover {
        text-decoration: none;
      }
    }
  }
}

.MembershipShowcaseCard {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  transition-property: box-shadow;
  transition-duration: .15s;
  transition-timing-function: ease;

  &:nth-child(n) {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h3 {
    font-size: 2rem;
    line-height: 1.41em;
    letter-spacing: -.029375rem;
    max-width: 12ch;
    font-weight: 600;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
  
    @media screen and (max-width: $breakpointMedium) {
      font-size: 1.75rem;
    }
  }
}

.MembershipShowcaseCard:active,
.MembershipShowcaseCard:hover {
  -webkit-box-shadow: 0 0 2.5px 1px #eaeaea;
  -moz-box-shadow:    0 0 2.5px 1px #eaeaea;
  box-shadow:         0 0 2.5px 1px #eaeaea;
}