@import '../utils/colors';
@import '../utils/variables';
@import '../utils/breakpoints';

@import '../mixins/typography';

.Navbar {
  z-index: 999;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: $accent0;
}

.NavbarInvert {
  color: $accent9;
}

.NavbarContainer {
  padding: 0;
  max-width: $breakpointDesktop;
  margin: 0 auto;
  float: none;
  @media only screen and (max-width: $breakpointMax) {
    margin: 0 $gap;
  }
}

.Mobile {
  @media (min-width: $breakpointMedium) {
    display: none;
  }
  @media (max-width: $breakpointMedium) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: $gap;
    .MobileFlag {
      grid-area: span 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      svg {
        color: inherit;
        height: 5rem;
      }
    }
    .MobileMain {
      grid-area: span 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .MobileToggle {
      display: block;
      z-index: 999;
      height: 20px;
      width: 20px;
      margin: 0;
      .IconContainer {
        position: relative;
        display: inline-block;
        cursor: pointer;
        transform: rotate(0deg);
        transition: all 0.3s;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        .Icon {
          width: 20px;
          height: 10px;
          position: relative;
          display: block;
          margin: 3px auto;
          top: 50%;
          .TopBar {
            width: 100%;
            height: 1px;
            display: block;
            position: relative;
            background: currentColor;
            transition: all 0.3s $cubic;
            transition-delay: 0s;
            transform: translateY(0px) rotate(0deg);
          }
          .BtmBar {
            width: 100%;
            height: 1px;
            display: block;
            position: relative;
            background: currentColor;
            transition: all 0.3s $cubic;
            transition-delay: 0s;
            transform: translateY(8px) rotate(0deg);
          }
        }
      }
    }
    .MobileContent {
      display: hidden;
      position: relative;
      width: 100%;
      height: 0vh;
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0%;
      z-index: 888;
      transition-delay: 0.2s;
      transition: opacity 0.25s ease;
      .MobileContainer {
        display: hidden;
        opacity: 0%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba($color: #000000, $alpha: 0.85);
        color: #fafafa;
        .MobileWrapper {
          display: hidden;
          max-width: $breakpointDesktop;
          margin: 0 1rem;
          padding: 1rem 0;
          float: none;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  nav {
    display: none;
  }
}

.MobileActive {
  .MobileToggle {
    position: fixed;
    .IconContainer {
      transform: rotate(90deg);
      .Icon {
        .TopBar {
          background: #FFFFFF;
          transition: all 0.4s $cubic;
          transition-delay: 0.2s;
          transform: translateY(6px) rotate(45deg);
        }
        .BtmBar {
          background: #FFFFFF;
          transition: all 0.4s $cubic;
          transition-delay: 0.2s;
          transform: translateY(5px) rotate(-45deg);
        }
      }
    }
  }
  .MobileContent {
    display: block;
    height: 100vh;
    opacity: 100%;
    transition-delay: 0.2s;
    transition: opacity 0.25s ease;
    .MobileContainer {
      opacity: 100%;
    }
  }
  nav {
    display: flex;
  }
}

.Desktop {
  @media (min-width: $breakpointMedium + 1px) {
    // background-color: paleturquoise;
    display: grid;
    // grid-template-columns: auto 1fr 30px;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    .DesktopFlag {
      // background-color: aquamarine;
      display: flex;
      svg {
        height: 5rem;
      }
    }
    .DesktopMain {
      // background-color: palevioletred;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      nav {
        a {
          margin-left: 0.25rem;
        }
      }
    }
    .DesktopMember {
      // background-color: aliceblue; 
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media (max-width: $breakpointMedium + 1px) {
    display: none;
  }
}

.MainNav {
  @media (min-width: $breakpointMedium + 1px) {
    a {
      font-weight: 400;
      opacity: 100%;
      transition: opacity 0.1s ease;
    }
    a:hover,
    a:active {
      opacity: 50%;
    }
  }
  @media (max-width: $breakpointMedium) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
      @include BaronNeueHeading;
      font-size: 2rem;
      padding-top: 1rem;
    }
  }
}