@import '../utils/variables';
@import '../utils/fonts';

.OwnerMessage {
  margin: $gap 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: $gap;
  h2 {
    font-family: 'baron_neuebold';
    text-transform: lowercase;
  }
}

.OwnerMessageImage {
  grid-area: span 1;
}

.OwnerMessageContent {
  grid-area: span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}