.OwnerMessage {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

.OwnerMessageImage {
  grid-area: span 1;
}

.OwnerMessageContent {
  padding: 2rem;
  grid-area: span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}