@import '../utils/variables';
@import '../utils/breakpoints';

.Paragraph {
  text-align: center;
  margin: 2rem auto;
  padding: $gap;
  max-width: $breakpointMedium;
  float: none;
  @media only screen and (max-width: $breakpointMedium) {
    margin: $gap;
  }
}