@import '../utils/variables';
@import '../utils/breakpoints';

.Paragraph {
  text-align: center;
  margin: 1rem auto;
  padding: 2rem 0;
  max-width: $breakpointMedium;
  float: none;
  @media only screen and (max-width: $breakpointMedium) {
    padding: 2rem;
  }
}