@import '../breakpoints';

.Wrapper {
  padding: 4rem 0 1rem 0;
  display: grid;
  gap: 3rem;

    @media only screen and (min-width: $breakpointMedium) {
      grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
      grid-auto-rows: 1fr;
    }
  
    @media only screen and (max-width: $breakpointMedium) {
      grid-template-columns: 1fr;
      grid-auto-rows: repeat(2, auto);
    }
}

.Card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 2rem;

  .CardImage {
    &:first-child {
      display: contents;
    }
  }

  .CardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h5 {
      margin: 0 0 8px;
    }

    a {
      transition-property: color;
      transition-duration: .1s;
      transition-timing-function: ease;
    }
  
    p {
      margin: 0;
      color: #666666;
    }

    a:hover,
    a:active {
      p{
        color: #0070F3;
      }
    }
  }
}