$accent0: #ffffff;
$accent1: #fafafa;
$accent2: #eaeaea;
$accent3: #999999;
$accent4: #888888;
$accent5: #666666;
$accent6: #444444;
$accent7: #333333;
$accent8: #111111;
$accent9: #000000;

$primary: #f1f1f1;
$secondary: #8a8f98;