// ? Baron Neue
@font-face {
  font-family: 'baron_neueblack';
  src: url('/fonts/baronneue/baronneue-black-webfont.woff2') format('woff2'),
       url('/fonts/baronneue/baronneue-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} // Black

@font-face {
  font-family: 'baron_neueblack_italic';
  src: url('/fonts/baronneue/baronneue-blackitalic-webfont.woff2') format('woff2'),
       url('/fonts/baronneue/baronneue-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} // Black Italic

@font-face {
  font-family: 'baron_neuebold';
  src: url('/fonts/baronneue/baronneue-bold-webfont.woff2') format('woff2'),
       url('/fonts/baronneue/baronneue-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} // Bold

@font-face {
  font-family: 'baron_neuebold_italic';
  src: url('/fonts/baronneue/baronneue-bolditalic-webfont.woff2') format('woff2'),
       url('/fonts/baronneue/baronneue-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} // Bold Italic

@font-face {
  font-family: 'baron_neueitalic';
  src: url('/fonts/baronneue/baronneue-italic-webfont.woff2') format('woff2'),
       url('/fonts/baronneue/baronneue-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} // Regular Italic

@font-face {
  font-family: 'baron_neueregular';
  src: url('/fonts/baronneue/baronneue-regular-webfont.woff2') format('woff2'),
       url('/fonts/baronneue/baronneue-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} // Regular