@import './breakpoints';

// * Imports -- Start

// ? Baron Neue
@font-face {
  font-family: 'baron_neueblack';
  src: url('/fonts/baronneue/baronneue-black-webfont.woff2') format('woff2'),
       url('/fonts/baronneue/baronneue-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} // Black

@font-face {
  font-family: 'baron_neueblack_italic';
  src: url('/fonts/baronneue/baronneue-blackitalic-webfont.woff2') format('woff2'),
       url('/fonts/baronneue/baronneue-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} // Black Italic

@font-face {
  font-family: 'baron_neuebold';
  src: url('/fonts/baronneue/baronneue-bold-webfont.woff2') format('woff2'),
       url('/fonts/baronneue/baronneue-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} // Bold

@font-face {
  font-family: 'baron_neuebold_italic';
  src: url('/fonts/baronneue/baronneue-bolditalic-webfont.woff2') format('woff2'),
       url('/fonts/baronneue/baronneue-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} // Bold Italic

@font-face {
  font-family: 'baron_neueitalic';
  src: url('/fonts/baronneue/baronneue-italic-webfont.woff2') format('woff2'),
       url('/fonts/baronneue/baronneue-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} // Regular Italic

@font-face {
  font-family: 'baron_neueregular';
  src: url('/fonts/baronneue/baronneue-regular-webfont.woff2') format('woff2'),
       url('/fonts/baronneue/baronneue-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} // Regular

// * Imports -- End

// * Style -- Start

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  strong {
    font-weight: bold;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 0.5rem;
  line-height: 1.5em;
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.066875rem;
  font-weight: 700;
  @media only screen and (max-width: $breakpointMedium) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2.25rem;
  letter-spacing: -0.049375rem;
  font-weight: 600;
  @media only screen and (max-width: $breakpointMedium) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.029375rem;
  font-weight: 600;
  @media only screen and (max-width: $breakpointMedium) {
    font-size: 1rem;
  }
}

h4 {
  font-size: 1.25rem;
  letter-spacing: -0.020625rem;
  font-weight: 600;
  @media only screen and (max-width: $breakpointMedium) {
    font-size: 0.75rem;
  }
}

h5 {
  font-size: 1rem;
  letter-spacing: -0.01125rem;
  font-weight: 600;
  @media only screen and (max-width: $breakpointMedium) {
    font-size: 0.65rem;
  }
}

h6 {
  font-size: 0.875rem;
  letter-spacing: -0.005625rem;
  font-weight: 600;
  @media only screen and (max-width: $breakpointMedium) {
    font-size: 0.5rem;
  }
}

blockquote {
  margin: 0;
  margin-top: 0;
  margin-bottom: 16px;
  padding: 0 1em;
  &:first-child() {
    margin-top: 0;
  }
  &:last-child() {
    margin-bottom: 0;
  }
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding: 0;
  list-style-type: none;
  margin: 12px;
  margin-left: 24px;
  li {
    box-sizing: inherit;
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 1em;
    line-height: 1.625em;
    margin-bottom: 10px;
  }
  li::before {
    content: '–';
    display: inline-block;
    color: #888888;
    position: absolute;
    margin-left: -15px;
  }
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding: 0;
  margin: 12px;
  margin-left: 24px;

  li {
    box-sizing: inherit;
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 1em;
    line-height: 1.625em;
    margin-bottom: 10px;
  }

  li.MDXListItem {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
    color: #888888;
  }
}

// * Style -- End