.AccountBadge {
  border-radius: 5px;
  padding: 0.5rem;
  padding: 6px 12px;

  span {
    margin: 0;
    padding: 1px 0;
    font-size: .75rem;
    line-height: 1.6;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

.Admin {
  background: #ffcece;
  color: #751515;
}

.Staff {
  background: #ceffd5;
  color: #15751d;
}

.Member {
  background: #ceedff;
  color: #153e75;
}

.User {
  background: #eaeaea;
  color: #666666;
}