.InputTextArea {
  position: relative;
  overflow: auto;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 108px;
  min-height: 108px;
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0;
  display: inline-flex;
  -webkit-appearance: none;
  padding: 12px 12px;
  line-height: normal;
  order: 1;
  outline: none;
  transition: border-color .15s ease;
  font-size: 1rem;
  resize: vertical;
  border: 1px solid #eaeaea;
  border-radius: 5px;

  background: #ffffff;
  color: #000000;
}

.InputTextArea:focus {
  border-color: #666666;
}