.InputDate {
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-image: initial;
  width: 100%;
  min-width: 0;
  display: inline-flex;
  -webkit-appearance: none;
  border-radius: 5px;
  padding: 0 12px;
  line-height: normal;
  order: 1;
  outline: none;
  transition: border-color .15s ease;
  height: 48px;
  font-size: 1rem;
  border: 1px solid #eaeaea;
  background: #ffffff;
  color: #000000;
}

.InputDate:before {
  content: attr(placeholder) !important;
  color: #999999;
  margin-right: 0.5em;

  @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    color: #666666;
  }
}

.InputDate:focus:before,
.InputDate:valid:before {
  content: "";
}

.InputDate:focus {
  border-color: #666666;
}