@import '../../breakpoints';

.TextFeature {
  margin: 1rem 0;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h5 {
    max-width: 57ch;
  }
  p {
    color: #000000;
    max-width: 76ch;
  }
}