@import './utils/reset';
@import './utils/colors';

html,
body {
  height: 100%;
  width: 100%;
  background-color: $accent8;
  color: $accent0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}